<section class="section" id="contact">
  <div class="container contact">
    <div class="section-box">
      <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="contact-pre-title big-subtitle">
          05. {{ "Contact.Pretitle" | translate }}
        </h3>
        <h4 class="e-font contact-title big-title">
          {{ "Contact.Title" | translate }}
        </h4>
      </div>
      <p data-aos="fade-up" data-aos-duration="1000">
        {{ "Contact.Content" | translate }}
      </p>
      <p data-aos="fade-up" data-aos-duration="1000">
        Mandeep Dhillon<br />
        Joachim-Karnatz-Allee 33<br />
        10557 Berlin<br />
        <a href="tel:0049- 176 781 8 6200">0049- 176 781 8 6200</a><br />
        <a href="tel:0049- 30 2062 1627">0049- 30 2062 1627</a><br />
      </p>
      <div class="mt-5">
        <a href="mailto:mandeep.dhillon@t-online.de" target="_blank" class="main-btn" data-aos="fade-up"
          data-aos-duration="1000">
          {{ "Contact.Btn" | translate }}
        </a>
      </div>
    </div>
  </div>
</section>